.main
  .main__header
    .main__header__group
      .main__header__group__title
        test
        .main__header__group__title__member
          Member : junichi
      .main__header__group__edit-btn
        = link_to "#" do
          Edit
  .main__chats
    .main__chats__message1
      .main__chats__message1__poster1
        junichi
      .main__chats__message1__date1
        2020/05/21(Thu) 21:00:00
    .main__chats__comment1
      こんばんは！
    .main__chats__message2
      .main__chats__message2__poster2
        junichi
      .main__chats__message2__date2
        2020/05/21(Thu) 21:10:00
    .main__chats__comment2
      最近、梅雨で洗濯物が乾きません。。
  .main__form
    %form.main__form__posts
      .main__form__posts__text
        .main__form__posts__text__input-box
          %input{class: "input_text", placeholder: "type a message", type: "text"}
          %label{class: "input_image"}
            = icon('fas', 'image')
            %input{class: "image", type: "file"}
      .main__form__posts__submit
        .main__form__posts__submit__submit-btn
          %input{class: "submit_btn", type: "submit", name: "commit", value: "Send"}
