.side_bar
  .side_header
    .user
      .name
        junichi
        .all_icon
          .icon_1
            = link_to url: "#" do
              <i class='far fa-edit EDIT'></i>
          .icon_2
            = link_to url: "#" do
              <i class="fas fa-cog COG"></i>
  .group_list
    = link_to url: "#" do
      .group_title
        techcamp
      .group_massege
        まだメッセージがありません